-- 구직글(인재정보 광고) 전용 테이블 생성
CREATE TABLE IF NOT EXISTS public.seeker_ads (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID NOT NULL REFERENCES public.users(id) ON DELETE CASCADE,
    resume_id UUID NOT NULL REFERENCES public.resumes(id) ON DELETE CASCADE,
    ad_title TEXT NOT NULL,
    status TEXT NOT NULL DEFAULT 'ACTIVE', -- 'ACTIVE', 'PAUSED'
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- RLS 정책 설정
ALTER TABLE public.seeker_ads ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view all active seeker ads" 
ON public.seeker_ads FOR SELECT 
USING (status = 'ACTIVE' OR auth.uid() = user_id);

CREATE POLICY "Users can insert their own seeker ads" 
ON public.seeker_ads FOR INSERT 
WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update their own seeker ads" 
ON public.seeker_ads FOR UPDATE 
USING (auth.uid() = user_id);

CREATE POLICY "Users can delete their own seeker ads" 
ON public.seeker_ads FOR DELETE 
USING (auth.uid() = user_id);
