ALTER TABLE jobs ADD COLUMN exposure_period int2;
ALTER TABLE jobs ADD COLUMN option_bold boolean DEFAULT false;
ALTER TABLE jobs ADD COLUMN option_color boolean DEFAULT false;
ALTER TABLE jobs ADD COLUMN option_bg boolean DEFAULT false;
ALTER TABLE jobs ADD COLUMN option_icon boolean DEFAULT false;
ALTER TABLE jobs ADD COLUMN option_jump boolean DEFAULT false;
ALTER TABLE jobs ADD COLUMN total_points int4;
